.auth-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #9fb6f1; 
    color: rgb(78, 65, 197);
    width: 100%;
  }
  
  .auth-left {
    flex: 1;
    padding: 50px;
    text-align: left;
  }
  
  .auth-left h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .auth-left p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    font-size: 24px;
    display: flex;
    gap: 15px;
  }
  
  .auth-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
  }
  
  .auth-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #e94560;
    color: rgb(172, 177, 221);
    padding: 12px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
  }
  
  .toggle-link {
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .terms {
    font-size: 12px;
  }
  
  .terms span {
    color: #e94560;
    cursor: pointer;
  }
  